*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
#dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# jca
# MANIFEST created by setup
MANIFEST
# .idea comes from PyCharm
.idea
# generally ignore temp stuff
temp.*
temp/
private/

third_party_installers/
repo_ignore/
venv/
history/
data/
*.dmg
dist/
.cache/
logs/
log/
osnapy/
cache/
# do not put MSVC redist in repo
msvc/
app/
installers/
.eggs/
*.spec
.env
