pyqt5
sqlalchemy
appdirs
watchdog
lxml ; sys_platform == 'win32'
pypiwin32 ; sys_platform == 'win32'
py2app ; sys_platform == 'darwin'
pytest
pressenter2exit
balsa
tobool
requests
ismain
pyship
black
wheel
typeguard
sentry-sdk