pyqt5
appdirs
watchdog
python-dotenv
lxml ; sys_platform == 'win32'
pypiwin32 ; sys_platform == 'win32'
pressenter2exit
balsa
tobool
requests
ismain
black
wheel
typeguard
sentry-sdk
pref
#
# freezer/installer
pyship
py2app ; sys_platform == 'darwin'
#
# linters
flake8
mypy
PyQt5-stubs
appdirs-stubs
#
# testing
pytest
pytest-qt
pytest-pycharm
coverage
pytest-cov
